body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.posts-container {
  display: flex;
  flex-wrap: wrap;
}

.post-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  width: calc(33.33% - 20px);
  min-width: 300px;
  max-width: 350px;
}

.post-card h3 {
  margin-top: 0;
}

.search-container {
  margin-top: 20px;
}

input[type='text'] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0069d9;
  cursor: pointer;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.error-message {
  color: red;
  margin-top: 10px;
}
